<nav class="navbar navbar-expand navbar-dark" style="background: #1e8504 !important;">
  <a href="#" class="navbar-brand">demo-devops</a>
  <div class="navbar-nav mr-auto">
    <div class="nav-item">
      <a routerLink="/tutorials" class="nav-link">Items-fire</a>
    </div>
    <div class="nav-item">
      <a routerLink="/add" class="nav-link">Crear fire</a>
    </div>
    <div class="nav-item">
      <a routerLink="/tutorial" class="nav-link">Items-nota</a>
    </div>
    <div class="nav-item">
      <a routerLink="/add-note" class="nav-link">Crear Nota</a>
    </div>
  </div>
</nav>