<app-navbar></app-navbar>
<div class="container pt-5">
  <div class="col-md-5">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Titulo</label>
        <input type="text" class="form-control" id="title" required minlength="1" [(ngModel)]="tutorial.title" name="title" />
      </div>
  
      <div class="form-group">
        <label for="description">Descripcion</label>
        <input class="form-control" id="description" required [(ngModel)]="tutorial.description" name="description" />
      </div>
    
      <button (click)="saveTutorial()" class="btn btn-success">Crear</button>
      <p class="p-5">{{ messageAdd }}</p>
    </div>
  
    <div *ngIf="submitted">
      <h4>Item creado!</h4>
      <button class="btn btn-success" (click)="newTutorial()">Nuevo Item</button>
    </div>
  </div>
</div>
