<app-navbar></app-navbar>
<div class="container pt-5">
  <div class="row">
    <div class="col-md-4">
      <h4>Lista de Items</h4>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let note of notes$; let i = index" [class.active]="i == currentIndex" (click)="setActiveNote(note, i)" >
          {{ note.title }}
        </li>
      </ul>
    </div>
    <div class="col-md-5 px-3 border-left">
      <div *ngIf="currentNote">
        <app-tutorial-detail (refreshList)="refreshList()" [note]="currentNote"></app-tutorial-detail>
      </div>
      <div *ngIf="!currentNote">
        <br />
        <p>Seleccionar un item...</p>
      </div>
    </div>
  </div>
</div>
